<%- include('header.ejs')%>
<main>
    <div class="detail-box">
    <p>제목: <%= post.title%></p>
    <p>내용: <%= post.content%></p>
    <p>작성자: <%= post.username%></p>
    <div class="detail-button-box">
        <a href="/list">리스트로 가기</a>
        <% if(username === post.username){ %>
            <a href="/list/edit/<%= post._id%>">수정</a>
            <a href="" id="deleteBtn" data-id="<%= post._id%>">삭제</a>
        <% } %>
    </div>
</div>
</main>

<script>
    const $deleteBtn = document.getElementById('deleteBtn');
    const $csrfInput = document.getElementById('csrfInput');
    $deleteBtn.addEventListener('click',async e=>{
        e.preventDefault();

        const id = $deleteBtn.dataset.id;

        const response = await fetch(`/list/delete/${id}`,{
            method:'DELETE'
        });
        const data = await response.json();
        if(data.ok){
            window.location.href='/list';
        }
    })
</script>
<%- include('footer.ejs')%>